.tabs {
    display: flex;
    flex-direction: column;

    &__nav {
        display: flex;
        padding-left: 16px;
        list-style: none;
        overflow-x: auto;
    }

    &__label-wrapper {
        margin-right: 40px;
    }

    &__label {
        box-sizing: border-box;
        display: block;
        padding-bottom: 8px;
        border-bottom: 5px solid var(--main);
        font-size: 16px;
        line-height: 1.5;
        color: var(--main-secondary-darken3);
        white-space: nowrap;

        &:hover {
            color: var(--dark-primary);
            border-bottom-color: var(--dark-primary);
        }
    }

    &__radio {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;

        &[id="tab-1"]:focus ~ .tabs__nav .tabs__label[for="tab-1"],
        &[id="tab-2"]:focus ~ .tabs__nav .tabs__label[for="tab-2"],
        &[id="tab-3"]:focus ~ .tabs__nav .tabs__label[for="tab-3"] {
            color: var(--dark-primary);
            border-bottom-color: var(--dark-primary);
        }

        &[id="tab-1"]:checked ~ .tabs__nav .tabs__label[for="tab-1"],
        &[id="tab-2"]:checked ~ .tabs__nav .tabs__label[for="tab-2"],
        &[id="tab-3"]:checked ~ .tabs__nav .tabs__label[for="tab-3"] {
            color: var(--dark-primary);
            border-bottom-color: var(--dark-primary);
        }

        &[id="tab-1"]:checked ~ .tabs__content .tabs__tab[data-tab="tab-1"],
        &[id="tab-2"]:checked ~ .tabs__content .tabs__tab[data-tab="tab-2"],
        &[id="tab-3"]:checked ~ .tabs__content .tabs__tab[data-tab="tab-3"] {
            display: flex;
        }

    }

    &__tab {
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__tab {
        &_better-align {
            justify-content: space-around;
        }
    }

}

@media screen and (min-width: $desktop-width) {
    .tabs {

        &__nav {
            display: flex;
            padding: 0;
            list-style: none;
            overflow-x: scroll;
        }
    }
}
