.avatar {
    box-sizing: border-box;

    &__picture {
        box-sizing: border-box;
        font-size: 0;
        line-height: 0;
    }

    &__img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}
