.radio {
    display: flex;
    align-items: center;

    &__control {
        position: absolute;
        width: 1px;
        height: 1px;
        pointer-events: none;
        opacity: 0;
    }

    &__state {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border: 1px solid var(--main-secondary-darken2);
        border-radius: 50%;
        background-color: var(--main);
        cursor: pointer;
    }

    &__dot {
        display: none;
    }

    &__label {
        padding-left: 12px;
        font-size: 16px;
        line-height: 1.5;
        color: var(--main-secondary-darken4);
        cursor: pointer;
    }

    &__control {
        &:disabled ~ .radio__state {
            background-color: var(--main-secondary-darken2);
            border-color: var(--main-secondary-darken2);
            cursor: default;
        }

        &:disabled ~ .radio__label {
            color: var(--main-secondary-darken2);
            cursor: default;
        }

        &:focus ~ .radio__label {
            text-decoration: underline;
        }

        &:checked ~ .radio__state {
            border: 2px solid var(--accent-primary);

            .radio__dot {
                display: block;
                width: 18px;
                height: 18px;
                background-color: var(--accent-primary);
                border-radius: 50%;
            }
        }

    }

}
